/* Error.css */
.error-container {
    text-align: center;
    margin-top: 100px;
  }
  
  .error-heading {
    font-size: 48px;
    color: #FF0000; /* Red color */
  }
  
  .error-message {
    font-size: 24px;
    margin-top: 20px;
    color: #333; /* Dark gray color */
  }
  
  .error-description {
    font-size: 18px;
    margin-top: 10px;
    color: #666; /* Gray color */
  }
  